name: CMake

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}\build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}\build --config ${{env.BUILD_TYPE}}

    - name: Create zip archive
      uses: vimtor/action-zip@v1
      with:
        files: build\bin\Release
        dest: game.zip
        
    - name: Delete old release
      uses: dev-drprasad/delete-tag-and-release@v0.2.0
      with:
        delete_release: true
        tag_name: game_of_life.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Update release
      uses: ncipollo/release-action@v1
      with:
        tag: 'game_of_life.zip'
        artifacts: ${{github.workspace}}\game.zip
        body: "Latest game of life executable"
        token: ${{ secrets.GITHUB_TOKEN }}
